<div class="dashboard-wrapper">
  <aside class="sidebar">
    <div class="logo">KYG <span class="neon">Dash</span></div>

    <nav>
      <a routerLink="calendario" routerLinkActive="active">
        <i class="fa-solid fa-calendar"></i> Calendario
      </a>
      <a routerLink="biblioteca" routerLinkActive="active">
        <i class="fa-solid fa-gamepad"></i> Mi Biblioteca
      </a>

      <ng-container *ngIf="rol === 'admin'">
        <a routerLink="crear-juegos" routerLinkActive="active">
          <i class="fa-solid fa-shield"></i> Gestión Juegos
        </a>
        <a routerLink="peticiones" routerLinkActive="active" class="link-peticiones">
          <i class="fa-solid fa-envelope-open-text"></i> Revisar Peticiones
          <span class="badge-count" *ngIf="peticionesCount > 0">{{ peticionesCount }}</span>
        </a>
      </ng-container>

      <!-- Ruta separada para el desarrollador -->
      <ng-container *ngIf="rol === 'desarrollador'">
        <a routerLink="proponer-juego" routerLinkActive="active">
          <i class="fa-solid fa-file-circle-plus"></i> Enviar Propuesta
        </a>
      </ng-container>
    </nav>

    <div class="user-profile" *ngIf="usuario" routerLink="perfil">
      <div class="user-avatar">
        <img *ngIf="usuario.photoURL" [src]="usuario.photoURL" alt="Avatar" class="avatar-img" />
        <div *ngIf="!usuario.photoURL" class="avatar-placeholder">
          <i class="fa-solid fa-user"></i>
        </div>
      </div>
      <div class="user-info">
        <span class="user-name">{{ usuario.displayName || 'Usuario' }}</span>
        <span class="user-email">{{ usuario.email }}</span>
      </div>
      <i class="fa-solid fa-chevron-right user-arrow"></i>
    </div>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>